@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using project_staff.Entities.Models

@model IEnumerable<project_staff.Shared.DTOs.ProjectTaskDto>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/projectdetails.css?v=@DateTime.Now.Ticks" />
}
@{
    ViewData["Title"] = "Tasks";
    Guid projectId = (Guid)ViewBag.ProjectId;
}
<div class="full-height-container mt-4">
    <div class="content-wrapper">
    <div class="row row-full-height">   
      <div class="col-12 col-full-height">        
        <h2>@projectId</h2>
        <hr > 
        <h2 class="mb-2 mt-2">TASKS</h2>
        <hr >
        <div>
                    <a href="@Url.Action("Create", "Tasks", new { projectId = projectId })" class="btn btn-success mt-3 mb-3">Create New Task</a>
         </div>
    @if (Model != null && Model.Any()){
        <!-- Tasks Table -->
       
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="status-column">STATUS</th>
                        <th>TITLE</th>
                        <th>PRIORITY</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                     @foreach (var task in Model)
                    {
                        <tr>
                            <td class="status-column  @(task.Status == project_staff.Entities.Models.TaskStatus.Done ? "completed-status" : "") @(task.Status != project_staff.Entities.Models.TaskStatus.Done ? "in-progress-status" : "")">    
                                <span class="status-icon">
                                            @if (task.Status == project_staff.Entities.Models.TaskStatus.Done)
                                            {
                                                <ion-icon class="completed" name="checkmark-circle-outline"></ion-icon>
                                            }
                                            else if (task.Status == project_staff.Entities.Models.TaskStatus.InProgress)
                                            {
                                                <ion-icon name="hourglass-outline"></ion-icon>
                                            }
                                            else if (task.Status == project_staff.Entities.Models.TaskStatus.ToDo)
                                            {
                                                    <ion-icon class="icon-alert" name="alert-circle-outline"></ion-icon>
                                            } </span>
                                            <span class="status-text">
                                                @task.Status
                                            </span>
                                        </td>
                            <td>@task.Name</td>
                             <td class="@(task.Status != project_staff.Entities.Models.TaskStatus.Done ? "expired-date" : "")">@task.Priority</td>
                            <td>
                                            <form asp-controller="Tasks" asp-action="Delete" method="post" style="display:inline;">
                                  <input type="hidden" name="taskId" value="@task.Id" />
                                  <input type="hidden" name="projectId" value="@projectId" />
                                  <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this task?');">Delete</button>
                               </form>
                                <a href="@Url.Action("Details", "Tasks", new { taskId = task.Id, projectId = projectId})" class="btn btn-details">Details</a>
                             </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
       @*  <p>Page @Model.CurrentTaskPage of @Model.TotalTaskPages</p>
                    @if (Model.TotalTaskPages > 1)
                    {
                        <nav class="mt-5" aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                @for (int i = 1; i <= Model.TotalTaskPages; i++)
                                {
                                    <li class="page-item @(i == Model.CurrentTaskPage ? "active" : "")">
                                        <a class="page-link" asp-controller="#" asp-action="Details" asp-route-pageNumber="@i">@i</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    } *@
    }
    else
    {
        <p>No tasks available.</p>
    }
        </div>
        </div>
    </div>
</div>
<a asp-controller="Projects" asp-action="Index" class="btn mt-3 mb-3">Go back to projects</a>